::selection {
    background-color: #1f1f1f;
    color: #fff;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #787878;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}
.mt-25
{
    margin-top: 25px;
}
.mb-25
{
    margin-bottom: 25px
    ;
}
/* nav-bar style */
.navbar-default {
    padding: 0;
    background-color: #fff;
    color: #1f1f1f;
    position: absolute;
    top :0 ;
    left : 0 ;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    z-index: 20;
}
.navbar-dark .navbar-toggler {
    color: #1f1f1f !important;
    background-color: #1f1f1f;
    
}

.logo img
{
    width: 100px;
}

.logo-light
{
    display: none;
}

.navbar-nav li a {
    color: #1f1f1f !important;
    font-weight: 500;
    font-size: 13px;
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: 20px;
    padding-left: 15px !important;
    padding-right: 15px !important;
    transition: all 0.5s;
    font-family: 'Poppins', sans-serif;
    
}
.menu-extras
{
    display: none;
}

/* }header style */
.header-1
{
    background-image: url(../images/bg-image-28.jpg);
    background-size: cover;
    position: center center;
  
}
.header-2
{
    background-image: url(../images/bg-image-29.jpg);
    background-size: cover;
    position: center center;
  
}
.layer
{
    height: 100%;
    width: 100%;
    background-color: rgba(31, 31, 31, 0.55);
}

.carousel-indicators-header
{
    bottom: 20px;
}
.carousel-indicators-header li
{
    width: 35px;
    margin-right: 5px;
    margin-left: 5px;
}
.controls
{
    display: none;
}


h1, h2, h3, h4 , h5 , h6
{
    font-family: 'Poppins', sans-serif;
    color: #1f1f1f;
    line-height: 1.3;
}
h1, h2, h3, h4 {
    font-weight: 700;
}


.header-name {
    font-size: 100px;
    font-weight: 700;
    letter-spacing: -3px;
    line-height: 1.25;

   

}

.layer p
{
    line-height: 1.8;
    color: rgba(255, 255, 255, 0.7);
}
.first-title 
{
    font-weight: 400;
    font-size: 18px;
    
    animation: heading 0.4s  0.4s ease;
}
.btn {
    position: relative;
    padding: 0 30px;
    height: 50px;
    line-height: 50px;
    border-radius: 4px;
    border-width: 0;
    font-size: 14px;
    font-weight: 600;
    transition: all .3s ease;
    font-family: 'Poppins', sans-serif;
    letter-spacing: -0.04em;
    overflow: hidden;
    margin-left: 15px;
}
.buttons
{
  
    animation: heading 0.4s  0.8s ease ;
}


.btn-color {
    color: #fff;
    background-color: #00c3da;
}
.btn-color:hover{
    color: #fff;
    background-color: #00c3da;

    transform: translateY(-1px);
}
.btn-light-out{
    color: #fff;
    border-color: #fff;
    background-color: transparent;
    border-width: 1px;
}

.btn-light-out:hover 
{
    background-color: #fff;
    border-color: #fff;
    color: #1f1f1f;
    transform: translateY(-1px);
}
/* About section style */
section {
    position: relative;
    background-color: #fff;
    padding-top: 110px;
    padding-bottom: 110px;
   
}
.who-we>h6
{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0.05em;
    margin-top: 0;
}
.who-we>p
{
    font-size: 24px;
    margin: 20px 0;
    font-weight: 300;
}
.who-we>p>span{
    color: #00c3da;
    font-weight: 400;
}
.read-me
{
    padding-top: 25px;
}
.read-me>a{
    font-weight: 500;
    font-size: 11px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #1f1f1f;
    border: 1px solid #dedede;
    border-radius: 0px ;
    background-color: transparent;
    transition: all 0.5s ease;
}
.read-me>a:hover
{
    background-color: #1f1f1f;
    border-color: #1f1f1f;
    color: #fff;
}
section+section {
    border-top: 1px solid #eee;
}
/* Team section style */
.title {
    margin-bottom: 25px;
    position: relative;
    z-index: 10;
} 
.title>h2 {
    font-size: 38px;
    letter-spacing: -1px;
}
.title h2[data-bigletter]:before
{
    z-index: -1;
    content: attr(data-bigletter);
    font-size: 2em;
    opacity: .06;
    position: absolute;
    top: -0.5em;
    left: 48%;
    text-align: center;
    text-transform: uppercase;
}
.title>h4 {
    font-weight: 400;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #787878;
}
.team
{
    padding-top: 25px;
    padding-bottom: 25px;
}
.team-member {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
}
.team-image {
    position: relative;
    overflow: hidden;
}
.team-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: rgba(0, 195, 218, 0.9);
    color: #fff;
    transform: translateY(20px);
    transition: all .3s ease;
    opacity: 0;
    visibility: hidden;
    display: flex;
    align-items: flex-end;
}
.team-overlay .team-info {
    text-align: left;
    padding: 20px;
    width: 100%;
}
.team-overlay .team-info>h4 {
    color: #fff;
    margin-bottom: 0;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    margin-top: 0;
    font-weight: 600;
}
.team-overlay .team-info>span {
    color: #fff;
    font-size: 12px;
}
.team-overlay .team-social {
    padding: 0 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 0;
    list-style: none;
    margin: 15px 0 0;
}
.team-social>li {
    font-size: 12px;
    display: inline-block;
    margin-right: 10px;
    color: #fff;
}
.team-social>li>a
{
    color: inherit;
}
.team-member:hover .team-overlay {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
/* What we do section style */ 
.what
{
    background-color: #636363;
}
.icon-box-outter
{
    margin-bottom: 25px;
    margin-top: 25px;
    
}
.icon-box
{
    font-size: 70px;
    color: #fff;
 
}
.icon-box-outter>h4
{
    font-size: 13px;
    letter-spacing: 0.1em;
    color: #fff;
    font-weight: 600;
    margin-top: 0;
    text-transform: uppercase;
}
.do
{
    margin-bottom: 25px;
    margin-top: 25px;
    color: #fff;
}
.txt-sm-center
{
    text-align: center;
}
.do h2{
    color: #fff;
}
.do .title h2[data-bigletter]:before
{ 
    top: -0.5em;
    left: 45%;
}
.check-list>li {
    padding: 6px 0;
}
/* prices section style */
.price-box
{

    max-width: 400px;
    padding: 45px 35px;
    margin: 50px auto 25px;
    position: relative;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
    transition: all .3s ease;
}
.price-box>h4
{
    font-size: 13px;
    margin: 0;
    font-weight: 400;
}
.price-box>h2
{
    font-size: 55px;
    font-weight: 500;
    letter-spacing: -3px;
    margin: 0;
    padding: 15px 0;
    border-bottom: 1px solid #eee;
}
.price-box>h2>span
{
    font-size: 18px;
    font-weight: 400;
    vertical-align: top;
}
.price-list
{
    margin-top: 15px;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.price-list>li
{
    padding: 8px 0;
    font-weight: 400;
}
.sign-up
{
    padding: 20px 0 ;
    margin-left: 0;
}
.btn-sign
{
    padding: 0 16px;
    font-size: 12px;
    height: 40px;
    line-height: 40px;
    transition: all 0.5s ease;
    margin-left: 0;
}
.btn-sign:hover,.btn-message:hover
{
    background-color: #00d5ee;
    color: #fff;
}

.value
{
    position: absolute;
    top: 40px;
    right: 35px;
    font-family: 'Poppins', sans-serif;
    font-size: 9px;
    font-weight: 500;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    background-color: #00c3da;
    color: #fff;
    padding: 5px 10px;
    border-radius: 15px;
}
.gold>h2
{
    color: #00c3da;
}
/* Testmonials section style */
.testmonials-content
{
    background-color: #fff;
    padding: 75px 100px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.05);
    max-width: 750px;
    margin: 50px auto;
    text-align: center;
    border-radius: 10px;
}
.testmonials-content>img
{
    width: 100px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -160px;
}
.customer-name>h4 {
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 24px;
    letter-spacing: -0.03em;
}
.customer-name>span
{
    text-transform: uppercase;
    font-family: 'Poppins', serif;
    font-size: 12px;
    letter-spacing: 0.03em;
    font-weight: 500;
}
.customer-name>p {
    margin: 25px 0;
    font-size: 18px;
    font-weight: 300;
}
.customers .carousel-indicators>li
{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #09c;
    
}
.arrows
{
    display: none;
}
.arrows, .arrows.active
{
    color: #444;
    font-size: 20px;
    transition: all 0.3s ease;

}
.arrows:hover{
    color: #00c3da;
}
.left-one:hover
{
    transform: translateX(-4px);
}
.right-one:hover
{
    transform: translateX(4px);
}
/* Get In Touch section style */
.map1
{
    width: 100%;
    
}
.touch .title h2[data-bigletter]:before
{
   top: -0.5em;
    left: -0.1em;
}
.form-group label {
    color: #1f1f1f;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 13px;
}
.form-control {
    height: 50px;
    padding: 0 15px;
    font-size: 15px;
    line-height: 50px;
    border: 2px solid #eee;
    border-radius: 0;
    box-shadow: none;
}
textarea.form-control {
    resize: none;
    min-height: 110px;
    line-height: inherit;
    padding-top: 15px;
    padding-bottom: 15px;
}
